In [ ]:
import numpy as np
import pandas as pd

In [ ]:
np.random.seed(40)

In [ ]:
data = np.random.randn(4, 4)

In [ ]:
df = pd.DataFrame(data, columns=['GOOD', 'BETTER', 'BEST', 'OKAY'])

In [ ]:
print(df)

       GOOD    BETTER      BEST      OKAY
0 -0.607548 -0.126136 -0.684606  0.928715
1 -1.844401 -0.467002  2.292490  0.488810
2  0.710267  1.055534  0.054073  0.257953
3  0.588282  0.885244 -1.017007 -0.133693

In [ ]:
new_column_names = {
    'GOOD': 'Random value 1',
    'BETTER': 'Random value 2',
    'BEST': 'Random value 3',
    'OKAY': 'Random value 4'
}
df = df.rename(columns=new_column_names)

In [ ]:
print(df)

   Random value 1  Random value 2  Random value 3  Random value 4
0       -0.607548       -0.126136       -0.684606        0.928715
1       -1.844401       -0.467002        2.292490        0.488810
2        0.710267        1.055534        0.054073        0.257953
3        0.588282        0.885244       -1.017007       -0.133693

In [ ]:
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean        -0.288350        0.336910        0.161238        0.385446
std          1.195673        0.747837        1.489679        0.444066
min         -1.844401       -0.467002       -1.017007       -0.133693
25%         -0.916761       -0.211353       -0.767707        0.160042
50%         -0.009633        0.379554       -0.315267        0.373382
75%          0.618778        0.927817        0.613677        0.598786
max          0.710267        1.055534        2.292490        0.928715

In [ ]:
df.isnull().sum()

Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Random value 1  4 non-null      float64
 1   Random value 2  4 non-null      float64
 2   Random value 3  4 non-null      float64
 3   Random value 4  4 non-null      float64
dtypes: float64(4)
memory usage: 256.0 bytes

In [ ]:
df.dtypes

Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

In [ ]:
columns_location = df.loc[:, ['Random value 2', 'Random value 3']]
print("Using Location Method:")
print(columns_location)

Using Location Method:
   Random value 2  Random value 3
0       -0.126136       -0.684606
1       -0.467002        2.292490
2        1.055534        0.054073
3        0.885244       -1.017007

In [ ]:
columns_index_location = df.iloc[:, [1, 2]]
print("\nUsing Index Location Method:")
print(columns_index_location)

Using Index Location Method:
   Random value 2  Random value 3
0       -0.126136       -0.684606
1       -0.467002        2.292490
2        1.055534        0.054073
3        0.885244       -1.017007